# Corona Cases

This notebook contains a bar chart to visualize the corona cases either per country of worldwide. The underlying data is provided by [Johns Hopkins University](https://github.com/CSSEGISandData/COVID-19/).

## Import packages

- Remove the comment to enable the widget extension
```bash
!jupyter nbextension enable --py widgetsnbextension
```

In [1]:
#!jupyter nbextension enable --py widgetsnbextension

In [2]:
import pandas as pd
import plotly.graph_objects as go
from ipywidgets import widgets

## Prepare dataset

### Data cleansing

- Replaces NA/NaN values
- Drops not required columns (Province/State, Lat, Long)
- Aggregates the corona cases per country
- Calculates the worldwide corona cases
- Adds a status per case (Confirmed, Death, Recovered)

In [3]:
def data_cleansing(df, status):
    df=df.fillna("")
    df=df.drop(["Province/State", "Lat", "Long"], axis=1)
    df=df.rename(columns={"Country/Region": "Country"})
    df=df.groupby(["Country"], sort=True).sum() # Country will become the new index
    df.loc["Worldwide"] = df.sum(numeric_only=True)
    df.insert(0, "Status", status, allow_duplicates=True)
    df=df.reset_index().set_index(["Country", "Status"])
    return df

### Load confirmed cases

In [4]:
# load confirmed corona cases
df_confirmed=pd.read_csv("https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_19-covid-Confirmed.csv")
df_confirmed=data_cleansing(df_confirmed, "Confirmed")
df_confirmed.head(3)

,,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,1/30/20,1/31/20,...,3/9/20,3/10/20,3/11/20,3/12/20,3/13/20,3/14/20,3/15/20,3/16/20,3/17/20,3/18/20
Country,Status,,,,,,,,,,,,,,,,,,,,,
Afghanistan,Confirmed,0,0,0,0,0,0,0,0,0,0,...,4,5,7,7,7,11,16,21,22,22
Albania,Confirmed,0,0,0,0,0,0,0,0,0,0,...,2,10,12,23,33,38,42,51,55,59
Algeria,Confirmed,0,0,0,0,0,0,0,0,0,0,...,20,20,20,24,26,37,48,54,60,74

### Load death cases

In [5]:
# load death corona cases
df_death=pd.read_csv("https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_19-covid-Deaths.csv")
df_death=data_cleansing(df_death, "Death")
df_death.head(3)

,,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,1/30/20,1/31/20,...,3/9/20,3/10/20,3/11/20,3/12/20,3/13/20,3/14/20,3/15/20,3/16/20,3/17/20,3/18/20
Country,Status,,,,,,,,,,,,,,,,,,,,,
Afghanistan,Death,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Albania,Death,0,0,0,0,0,0,0,0,0,0,...,0,0,1,1,1,1,1,1,1,2
Algeria,Death,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,2,3,4,4,4,7

### Load recovered cases

In [6]:
# load recovered corona cases
df_recovered=pd.read_csv("https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_19-covid-Recovered.csv")
df_recovered=data_cleansing(df_recovered, "Recovered")
df_recovered.head(3)

,,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,1/30/20,1/31/20,...,3/9/20,3/10/20,3/11/20,3/12/20,3/13/20,3/14/20,3/15/20,3/16/20,3/17/20,3/18/20
Country,Status,,,,,,,,,,,,,,,,,,,,,
Afghanistan,Recovered,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,1,1
Albania,Recovered,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Algeria,Recovered,0,0,0,0,0,0,0,0,0,0,...,0,0,0,8,8,12,12,12,12,12

### Merge all cases

In [7]:
df=pd.concat([df_confirmed,df_death,df_recovered]).sort_values(by=["Country", "Status"])
df.head(3)

                       1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  1/27/20  \
Country     Status
Afghanistan Confirmed        0        0        0        0        0        0
            Death            0        0        0        0        0        0
            Recovered        0        0        0        0        0        0

                       1/28/20  1/29/20  1/30/20  1/31/20  ...  3/9/20  \
Country     Status                                         ...
Afghanistan Confirmed        0        0        0        0  ...       4
            Death            0        0        0        0  ...       0
            Recovered        0        0        0        0  ...       0

                       3/10/20  3/11/20  3/12/20  3/13/20  3/14/20  3/15/20  \
Country     Status
Afghanistan Confirmed        5        7        7        7       11       16
            Death            0        0        0        0        0        0
            Recovered        0        0        0        0        0        0

                       3/16/20  3/17/20  3/18/20
Country     Status
Afghanistan Confirmed       21       22       22
            Death            0        0        0
            Recovered        1        1        1

[3 rows x 57 columns]

## Visualize dataset

In [8]:
# Bar chart displaying corona cases
days=df.columns
country="Worldwide"
confirmed=df.loc[country,"Confirmed"]
death=df.loc[country,"Death"]
recovered=df.loc[country,"Recovered"]
fig = go.FigureWidget(data=[
                    go.Bar(name="Confirmed", x=days, y=confirmed, marker_color="red"),
                    go.Bar(name="Death", x=days, y=death, marker_color="black"),
                    go.Bar(name="Recovered", x=days, y=recovered, marker_color="green"),
                ],
                layout=go.Layout(plot_bgcolor = "#EEEEEE"))

# Dropdown to select country to be displayed in bar chart
countries=df.index.get_level_values(0).unique().tolist()
dropdown = widgets.Dropdown(
    description='Corona cases:',
    value=country,
    options=countries,
    style={'description_width': 'initial'}
)
def response(change):
    country=dropdown.value
    with fig.batch_update():
            fig.data[0].y = df.loc[country,"Confirmed"]
            fig.data[1].y = df.loc[country,"Death"]
            fig.data[2].y = df.loc[country,"Recovered"]
dropdown.observe(response, names="value")

# Display dropdown and figure
widgets.VBox([dropdown, fig])

VBox(children=(Dropdown(description='Corona cases:', index=151, options=('Afghanistan', 'Albania', 'Algeria', …